@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://www.google.com/search?q=worldup&oq=worldup&aqs=chrome..69i57j0i13i131i433i512j46i13i131i433i512l2j0i13i131i433i512j46i13i131i433i512j0i13i131i433i512l4.14194j1j7&sourceid=chrome&ie=UTF-8#sie=lg;/m/0fp_8fm;2;/m/030q7;mt;fp;1;;;">FIFA WORLD CUP 2022</a>.</p>
</div>
