@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h2>Lịch thi đấu Fifa World Cup 2022</h2>
    <table style="border:1px solid black;">
        <tr>
            <th>Bảng thi đấu</th>
            <th>Đội tuyển thi đấu</th>
            <th>Ngày thi đấu</th>
            <th>Chi tiết</th>
        </tr>
        <tr>
            <td>Bảng A</td>
            <td>Thụy Sĩ - Cameroon</td>
            <td>Ngày 24/11 - 17:00</td>
            <td><a asp-controller="home" asp-action="Tran1">xem</a></td>
        </tr>
        <tr>
            <td>Bảng H</td>
            <td>Uruguay - Hàn Quốc</td>
            <td>Ngày 24/11 - 20:00</td>
            <td><a asp-controller="" asp-action="">xem</a></td>
        </tr>
        <tr>
            <td>Bảng H</td>
            <td>Bồ Đào Nha - Ghana</td>
            <td>Ngày 24/11 - 23:00</td>
            <td><a asp-controller="" asp-action="">xem</a></td>
        </tr>
        <tr>
            <td>Bảng G</td>
            <td>Brasil - Serbia</td>
            <td>Ngày 25/11 - 02:00</td>
            <td><a asp-controller="" asp-action="">xem</a></td>
        </tr>
    </table>
    <style>
        th,td {
            padding: 15px 15px;
            border:1px solid black;
        }
    </style>
}
