@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table style="width:100%">  
  <tr> 
    <th></th>
        <th>Thụy Sĩ</th>
        <th>Cameroon</th>  
  </tr>  
  <tr> 
    <td>Đội hình</td>
    <td>
        <ul>
            <li>S.Widmer</li>
            <li>Y.Sommer</li>
            <li>M.Akanji</li>
            <li>N.Elvedi</li>
            <li>R.Rodriguez</li>
        </ul>
    </td>  
    <td>
        <ul>
            <li>A.Onana</li>
            <li>N.Tolo</li>
            <li>N.N'Koulou'</li>
            <li>J.Castelletto</li>
            <li>C.Fal</li>
        </ul>
    </td>    
  </tr>  
</table>  
<style>
    table {
        margin-top :20px;
    }
    tr,th,td {
        border : 1px solid red;
        padding: 15px 15px;
    }
    th {
        text-align :center;
    }
</style>